<%- include('partials/header.ejs') %>

  <main>
    <h3>Index</h3>
  </main>

  <a href="/order/boeuf-bourguignon">Commander un boeuf bourguignon</a>
  <br>
  <br>
  <a href="/order/boeuf-bourguignon?allergies=oeuf&taille=8">Commander un boeuf bourguignon en indiquant une allergie aux oeufs</a>

<%- include('partials/footer.ejs') %>